.comments > h2{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  margin-top: 70px;
}

.comments > .carousel > .carousel-item {
  min-height: 150px;
  min-width: 280px;
  background-color: rgb(86, 44, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments > .carousel > a > h6 {
  font-weight: 800;
  margin-top: -10px;
  color: hsl(30, 32%, 44%);
}
.comments > .carousel > a > p {
  margin: 10px 20px;
  font-weight: 600;
  color: hsl(30, 32%, 44%);
}
